apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: chat-server-ingress
  namespace: chat-app
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: {{ .Values.ingress.className }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: chat-server-tls
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chat-server
                port:
                  number: {{ .Values.chatServer.port }}
